<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layout</title>
  <link rel="stylesheet" href="layout.css">

</head>

<body>
  <div id="wrapper">

    <nav class="navigation">

      <h2>Nav</h2>
      <ul>
        <li><a class="navigation-link" href="#">Home</a></li>
        <li><a class="navigation-link" href="#">About</a></li>
        <li><a class="navigation-link" href="#">Clients</a></li>
        <li><a class="navigation-link" href="#">Contact Us</a></li>
      </ul>
    </nav>

    <main>

      <section class="main-content">

        <article class="article-content">
          <h2>Main Content</h2>
          <h3>I'm first in the source order.</h3>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus sem at orci tempor, sit amet auctor
            felis
            tincidunt. Ut id sem eu risus convallis faucibus. Donec fringilla erat at libero elementum, interdum congue
            odio consequat. In tincidunt finibus porttitor.</p>

          <p>Nam tincidunt purus vitae cursus imperdiet. Phasellus consectetur, mi lacinia iaculis sagittis, lectus
            tortor
            fringilla quam, nec varius elit leo eu mi. Nulla condimentum ante eget quam lobortis, sit amet cursus nulla
            convallis. Sed lobortis efficitur orci sit amet mollis. Vivamus imperdiet id dui nec cursus. Duis efficitur
            pharetra lectus quis sollicitudin.</p>

          <p>Etiam non lectus ac tellus porttitor molestie. Aliquam ornare lacinia massa vel pharetra. Sed eget velit
            hendrerit, dignissim mi ac, sagittis nibh. Fusce vitae justo nisi.</p>


        </article>

      </section>
    </main>

    <aside>

      <h2>Sidebar</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus sem at orci tempor, sit amet auctor felis
        tincidunt.</p>

    </aside>
  </div>
</body>

</html>