* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  color: #000;
  background-color: #eee;
}

section {
  margin: 10em 10em;
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 1em;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centering-container {
  margin: 20em auto;

  width: 40em;
  min-height: 30em;
  border: .125em dashed #666;
}

.centering-item {
  padding: 1.5em;

  flex: 0 1 65%;

  border: .625em solid pink;
}

